#python 2.7 
#mkvirtualenv bookstore-django27 -p /usr/bin/python2.7


appdirs==1.4.3
Django==1.8
django-registration-redux==1.1
packaging==16.8
pyparsing==2.2.0
six==1.10.0
python-social-auth==0.2.7
django-bootstrap3==5.4.0
django-bootstrap-themes==3.1.2
django-compressor==1.5
paypalrestsdk==1.10.0
stripe==1.23.0
pillow==2.9.0